
.navbar div a span{
  font-weight: bold;
  color: #3E3E3E;
}

.banner img {
  height: 520px;
}

.carousel-caption {
  color: rgb(255, 255, 255);
}
.carousel-caption button a,
.custom-button-design{
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  color: rgb(226, 56, 26);
  font-weight: bold;
}
/* Package CSS */

.my-toast {
  margin-left: 110px;
}

.my-toast span {
  color: black;
}

.our-package {
  margin-top: 50px;
}

.our-package .col {
  margin-bottom: 70px;
}
.our-package .container {
  margin-top: 200px;
}

.hot-package {
  background-color: #08682d;
  border-radius: 20px;
}

.hot-package ul li {
  background-color: #08682d;
  color: white;
}

/* Bonus CSS */
.card .description span {
  background-color: rgb(238, 64, 33);
  padding: 5px 20px;
  color: white;
  border-radius: 5px;

}

footer div {
  height: 200px;
  color: #D9DBE1;
}

footer a img {
  width: 140px;
  height: 35px;
}