
.banner img {
  height: 520px;
}

.our-package {
  margin-top: 50px;
}

.our-package .col {
  margin-bottom: 70px;
}
.our-package .container {
  margin-top: 200px;
}

.hot-package {
  background-color: #08682d;
}

.hot-package ul li {
  background-color: #08682d;
  color: white;
}

footer div {
  height: 200px;
  color: #D9DBE1;
}

footer a img {
  width: 140px;
  height: 35px;
}